<h1>CPSC113 Todo</h1>


<div style="color:red" class="validation-error">
    {{#if errors}}
        {{errors}}
    {{/if}}
</div>


{{#if currentUser}}
    <h2>Welcome, {{currentUser.name}}</h2>

    <section id="create">
		<h2 id="toggle-create" style="display: none;">Create a new todo <i class="fa fa-plus"></i></h2>
		<div class="container">
		    <form id="signup" action="/task/create" method="POST">
		    	<div class="header">
		        	<h3>Create a new todo</h3>
		        
		        <div class="wrap">
				  <div class="mat-div">
				    <label for="title" class="mat-label">Title</label>
				    <input type="text" class="mat-input" id="title" name="title">
				  </div>
				  <div class="mat-div">
				    <label for="description" class="mat-label">Description</label>
				    <input type="text" class="mat-input" id="description" name="description">
				  </div>
				  <div class="mat-div">
				    <label for="collab-1" class="mat-label">Collaborator 1</label>
				    <input type="text" class="mat-input" id="collab-1" name="collaborator1">
				  </div>
				  <div class="mat-div">
				    <label for="collab-2" class="mat-label">Collaborator 2</label>
				    <input type="text" class="mat-input" id="collab-2" name="collaborator2">
				  </div>
				  <div class="mat-div">
				    <label for="collab-3" class="mat-label">Collaborator 3</label>
				    <input type="text" class="mat-input" id="collab-3" name="collaborator3">
				  </div>
				</div>
			    <button type="submit" form="signup" value="Submit" id="submit">Submit</button>
		        </div>
		    </form>
	    </div>
	</section>
    
      
    <section class="tasks">
        <fieldset class="tasks-list">
            {{#if tasks}}
            
                {{#each tasks}}
                    <div class="tasks-list-item{{#if this.isComplete}} complete-task {{else}} {{/if}}">
                        <span class="tasks-list-desc task-title">{{#if this.isComplete}}<strike>{{/if}}{{this.title}}{{#if this.isComplete}}</strike>{{/if}}</span>
                        {{#if this.isOwner}}
                            <form action="/task/delete" method="POST">
                                <input type="hidden" name="DeleteId" value="{{this.taskId}}">
                                <input type="hidden" name="taskOwner" value="{{this.owner}}">
                                <button type="submit" class="delete-task button">Delete</button>
                            </form>
                        {{else}}
                            <form>
                                <input type="hidden" name="DeleteId" value="{{this.taskId}}">
                                <input type="hidden" name="taskOwner" value="{{this.owner}}">
                            </form>
                        {{/if}}
                        <form action="/task/toggle-complete" method="POST">
                            <input type="hidden" name="taskId" value="{{this.taskId}}">
                            <input type="hidden" name="changeStatus" value="{{#if this.isComplete}}0{{else}}1{{/if}}">
                            <button type="submit" name="toggle-task" class="toggle-task button">{{#if this.isComplete}}Mark Incomplete{{else}}Mark Complete{{/if}}</button>
                        </form>
                    </div>
                {{/each}}
            {{else}}
                No tasks to show!
            {{/if}}
        </fieldset>
    </section>
    
{{else}}
<div>
    <form class="login-form" action="/user/login" method="POST">
        <label for="email">Email</label>
        <input name="email" type="text"><br>
        <label for="password">Password</label>
        <input name="password" type="text"><br>
        <input type="submit" class="log-in-submit">
    </form>
</div>

<div><hr></div>

<div>
    <form action="/user/register" method="post" class="signup-form" style="display: block;">
      <input name="fl_name" type="text" class="text-input" placeholder="first &amp; last name">
      <input name="email" type="email" class="text-input" placeholder="email">
      <input name="password" type="password" class="text-input" placeholder="password">
      <input name="password_confirmation" type="password" class="text-input" placeholder="password confirmation">
      <input class="sign-up-submit" type="submit">
    </form>
</div>
{{/if}}

